@import url('https://fonts.googleapis.com/css?family=Boogaloo');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.header-content {
  font-size: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Boogaloo', cursive;
  font-weight: normal; 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  padding-bottom: 10px;
}

.pct-change {
  font-size: small;
  color: black;
}